In [1]:
import pandas as pd
import numpy as npb
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
import os
os.getcwd()

'C:\\Users\\dmksk\\OneDrive\\Desktop\\CF\\Data Immersion\\Achivment 4\\4.9\\Instacart_Project\\03 Script'

In [3]:
# set path
path = r'C:\Users\dmksk\OneDrive\Desktop\CF\Data Immersion\Achivment 4\4.9\Instacart_Project'

In [4]:
# Import new customer data set from the 'Original Data' folder as a dataframe
customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))

In [5]:
# Preview the newly imported dataframe 
customers.head(5)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [6]:
# Check the dimensions of the dataframe
customers.shape

(206209, 10)

In [7]:
# View descriptive statistics 
customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [8]:
# Check data types
customers.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [9]:
# Renaming columns
customers.rename(columns={
    'First Name': 'first_name',
    'Surnam': 'surname',
    'Gender': 'gender',
    'STATE': 'state',
    'Age': 'age',
    'date_joined': 'date_joined',
    'n_dependants': 'n_dependents',  # Correcting a possible typo
    'fam_status': 'marital_status',
    'income': 'income'
}, inplace=True)

In [10]:
# Check columns
customers.columns

Index(['user_id', 'first_name', 'surname', 'gender', 'state', 'age',
       'date_joined', 'n_dependents', 'marital_status', 'income'],
      dtype='object')

##### * Personal Information (first_name, surname, gender): While typically not used in broad analyses due to privacy issues, for internal analyses, these can help in personalizing marketing messages.
##### * Demographic Information (state, age, family_status, n_dependents, income): Crucial for segmenting your customer base and tailoring marketing strategies to different demographic groups.
##### * Engagement Metrics (date_joined): Helps in understanding customer loyalty and retention, and in segmenting customers based on their lifecycle stage.
##### * User ID (user_id): Keep this as it uniquely identifies each customer.
##### * First Name (first_name), Surname (surname): Usually, these are not necessary for analysis unless you are doing something specific that requires name data, like personalized marketing analysis. For privacy reasons, it's also common to exclude these in shared analysis environments.
##### * Gender (gender): This could be useful if you are analyzing purchasing patterns by gender.
##### * State (state): Geographic analysis to see trends by region or to adjust marketing strategies geographically.
##### * Age (age): Age can be a significant factor in the types of products purchased.
##### Date Joined (date_joined): Useful for cohort analysis to see how purchasing behavior changes over time for different groups of users based on their signup date.
##### * Number of Dependents (n_dependents): This can indicate the size of the household, which might affect the volume and type of products purchased.
##### * Family Status (family_status): This might correlate with purchasing patterns, such as different needs based on whether someone is single, married, etc.
##### * Income (income): Income levels can greatly influence purchasing power and preferences.

### Task 05. Complete the fundamental data quality and consistency checks.

In [11]:
# Check for missing values
print(customers.isnull().sum())

user_id               0
first_name        11259
surname               0
gender                0
state                 0
age                   0
date_joined           0
n_dependents          0
marital_status        0
income                0
dtype: int64

In [12]:
# Optional: Check for duplicates and mixed types as previously described
customers = customers.drop_duplicates()
for column in customers.columns:
    if customers[column].apply(type).nunique() > 1:
        print(f"Column {column} contains mixed types.")
        customers[column] = customers[column].astype(str)  # Example strategy

Column first_name contains mixed types.

In [13]:
# Display unique types in the 'first_name' column
print(customers['first_name'].apply(type).value_counts())

first_name
<class 'str'>    206209
Name: count, dtype: int64

In [14]:
# Convert 'first_name' to string
customers['first_name'] = customers['first_name'].astype(str)

In [15]:
# Check for missing values
print(customers.isnull().sum())

user_id           0
first_name        0
surname           0
gender            0
state             0
age               0
date_joined       0
n_dependents      0
marital_status    0
income            0
dtype: int64

In [16]:
# Check for duplicates across the DataFrame
print(f"Duplicates: {customers.duplicated().sum()}")
customers = customers.drop_duplicates()

Duplicates: 0

### Task 06. Combine your customer data with the rest of your prepared Instacart data

In [17]:
# Import the rest of the prepared Instacart data
orders_products = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'aggregated_ords_prods_merge.pkl'))

In [18]:
# Check the shape of the newly imported dataframe
orders_products.shape

(32404859, 24)

In [19]:
# Check the shape of the customers dataframe
customers.shape

(206209, 10)

In [20]:
# Identify a shared column
orders_products.head(2)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spending,spending_flag,Customer_frequency,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent Customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender,8.0,Frequent Customer

In [21]:
# Identify a shared column
customers.head(2)

,user_id,first_name,surname,gender,state,age,date_joined,n_dependents,marital_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285

In [22]:
# Both dataframes share the 'user_id' column
# Check data-type of shared column
orders_products.dtypes['user_id']

dtype('int64')

In [23]:
customers.dtypes['user_id']

dtype('int64')

In [24]:
# Drop the existing '_merge' column from previous exercises
orders_products = orders_products.drop(columns=['_merge'])

In [25]:
# Merge the two dataframes using the column 'user_id' as the shared column with the default join (inner)
custs_ords_prods = orders_products.merge(customers, on = 'user_id', indicator = True)

In [26]:
# Check shape of newly merged dataframe
custs_ords_prods.shape

(32404859, 33)

In [27]:
custs_ords_prods.head(5)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,first_name,surname,gender,state,age,date_joined,n_dependents,marital_status,income,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
2,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,13,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
3,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,14,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
4,1000,Apricots,18,10,12.9,505689,138,9,6,12,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both

In [ ]:
# Check inner join value counts
custs_ords_prods['_merge'].value_counts()